In [2]:
import requests
import pandas as pd
import json

In [14]:
response = requests.get("https://newsapi.org/v2/everything?q=tesla&from=2025-05-11&sortBy=publishedAt&apiKey=69585833de8f4abdae430b9473180aa4")
data = response.json()
df = pd.DataFrame(data)

In [17]:
df.shape

(99, 3)

In [16]:
df

   status  totalResults                                           articles
0      ok         17583  {'source': {'id': None, 'name': 'Xataka.com.mx...
1      ok         17583  {'source': {'id': 'the-times-of-india', 'name'...
2      ok         17583  {'source': {'id': 'breitbart-news', 'name': 'B...
3      ok         17583  {'source': {'id': None, 'name': 'Forbes.com.mx...
4      ok         17583  {'source': {'id': None, 'name': 'Biztoc.com'},...
..    ...           ...                                                ...
94     ok         17583  {'source': {'id': None, 'name': 'Feber.se'}, '...
95     ok         17583  {'source': {'id': None, 'name': 'Digi24.ro'}, ...
96     ok         17583  {'source': {'id': None, 'name': 'Journal du ge...
97     ok         17583  {'source': {'id': None, 'name': 'Politicalwire...
98     ok         17583  {'source': {'id': None, 'name': 'The Daily Hod...

[99 rows x 3 columns]