In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
df = pd.read_csv('Vehicle Price.csv')
df.head()

,name,description,make,model,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,"\n \n Heated Leather Seats, Nav Sy...",Jeep,Wagoneer,2024,74600.0,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive
1,2024 Jeep Grand Cherokee Laredo,Al West is committed to offering every custome...,Jeep,Grand Cherokee,2024,50170.0,OHV,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive
2,2024 GMC Yukon XL Denali,NaN,GMC,Yukon XL,2024,96410.0,"6.2L V-8 gasoline direct injection, variable v...",8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive
3,2023 Dodge Durango Pursuit,White Knuckle Clearcoat 2023 Dodge Durango Pur...,Dodge,Durango,2023,46835.0,16V MPFI OHV,8.0,Gasoline,32.0,8-Speed Automatic,Pursuit,SUV,4.0,White Knuckle Clearcoat,Black,All-wheel Drive
4,2024 RAM 3500 Laramie,\n \n 2024 Ram 3500 Laramie Billet...,RAM,3500,2024,81663.0,24V DDI OHV Turbo Diesel,6.0,Diesel,10.0,6-Speed Automatic,Laramie,Pickup Truck,4.0,Silver,Black,Four-wheel Drive

In [3]:
df['make'].value_counts()

make
Jeep             194
Hyundai          121
Dodge            117
Ford              88
RAM               79
Kia               52
Chevrolet         49
Nissan            40
Volkswagen        38
Mazda             38
Mercedes-Benz     30
GMC               23
Honda             22
BMW               19
Audi              16
Acura             12
Chrysler          12
Cadillac          10
Subaru             8
Toyota             8
Buick              8
INFINITI           5
Land Rover         4
Volvo              3
Lincoln            2
Genesis            2
Lexus              1
Jaguar             1
Name: count, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   make       1002 non-null   object
 1   year       1002 non-null   int64
 2   price      979 non-null    float64
 3   fuel       995 non-null    object
 4   cylinders  897 non-null    float64
 5   mileage    968 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 47.1+ KB

In [13]:
df.isnull().sum()

make          0
year          0
price         0
fuel          0
cylinders    95
mileage      31
dtype: int64

In [4]:
df = df[['make','year','price','fuel','cylinders','mileage']]

In [10]:
df.sample(5)

        make  year     price      fuel  cylinders  mileage
720      GMC  2024  102287.0    Diesel        8.0      4.0
78       RAM  2024   63223.0    Diesel        6.0     13.0
768  Hyundai  2024   29111.0  Gasoline        4.0     11.0
351  Hyundai  2024   34492.0    Hybrid        4.0     10.0
903   Nissan  2024   26335.0  Gasoline        4.0     12.0

In [5]:
# Missing value treatment

df.dropna(subset=['price','fuel'],inplace=True)

trf1 = ColumnTransformer([
    ('simple_imp',SimpleImputer(strategy='mean'),['cylinders','mileage'])
],remainder='passthrough')

In [6]:
trf2 = ColumnTransformer([
    ('ohe',OneHotEncoder(drop='first',sparse_output=False),['make','price'])
],remainder='passthrough')

In [7]:
trf3 = LinearRegression()

In [8]:
x_train,x_test,y_train,y_test= train_test_split(df[['make','year','fuel','cylinders','mileage']],df[['price']], test_size=0.2,random_state=42)

In [9]:
x_train

          make  year           fuel  cylinders  mileage
33         Kia  2024       Electric        NaN     13.0
31        Ford  2024  E85 Flex Fuel        6.0     10.0
843        BMW  2024       Gasoline        6.0   1946.0
194      Dodge  2024       Gasoline        6.0     13.0
317        GMC  2024         Diesel        8.0      2.0
..         ...   ...            ...        ...      ...
106  Chevrolet  2024       Gasoline        8.0    148.0
274       Jeep  2024         Hybrid        4.0     10.0
888      Mazda  2024       Gasoline        6.0      0.0
446        GMC  2024       Gasoline        8.0      3.0
102  Chevrolet  2024       Gasoline        4.0      2.0

[777 rows x 5 columns]

In [10]:
pipe = Pipeline([
   ( 'trf1',trf1),
   ( 'trf2',trf2),
   ( 'trf3',trf3)
])

In [11]:
pipe.fit(x_train,y_train)

ValueError: Specifying the columns using strings is only supported for dataframes.