In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel("C:\\Users\\pc\\Desktop\\Book1.xlsx")
df

      name  age  course     address
0  nishant    19     bca     rohini
1   hardik    20     mca  ghaziabad