In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('Heart_disease_cleveland_new.csv')
df.sample(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
40,65,0,3,150,225,0,2,114,0,1.0,1,3,3,1
54,60,1,3,130,253,0,0,144,1,1.4,0,1,3,1
170,70,1,2,160,269,0,0,112,1,2.9,1,1,3,1
88,53,0,3,138,234,0,2,160,0,0.0,0,0,1,0
177,56,1,3,132,184,0,2,105,1,2.1,1,1,2,1
215,56,1,0,120,193,0,2,162,0,1.9,1,0,3,0
44,61,0,3,130,330,0,2,169,0,0.0,0,0,1,1
36,43,1,3,120,177,0,2,120,1,2.5,1,0,3,1
57,41,1,3,110,172,0,2,158,0,0.0,0,0,3,1
269,42,1,2,130,180,0,0,150,0,0.0,0,0,1,0

In [7]:
df.shape

(303, 14)