In [3]:
import pandas as pd

In [4]:
countries = ["india", "pakistan", "USA"]
pd.Series(countries)

0       india
1    pakistan
2         USA
dtype: object

In [5]:
runs = [1,2,3,4,5]
Tpd.Series(runs)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
df = pd.read_csv('subs.csv',)
series = df.squeeze('columns')      
series

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [4]:
pd.read_csv('imdb_top_250.csv')

     Rank                     Title  Year  Rating  Runtime
0       1  The Shawshank Redemption  1994     9.3      142
1       2             The Godfather  1972     9.2      175
2       3           The Dark Knight  2008     9.0      152
3       4     The Godfather Part II  1974     9.0      202
4       5              12 Angry Men  1957     9.0       96
..    ...                       ...   ...     ...      ...
245   246               Dersu Uzala  1975     8.0      142
246   247            Monsters  Inc.  2001     8.0       92
247   248     Miracle in Cell No. 7  2019     8.0      132
248   249        Children of Heaven  1997     8.0       89
249   250             All About Eve  1950     8.0      138

[250 rows x 5 columns]